*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.topo{
    width: 100%;
    height: 100px;
    padding: 15px 30px;
    background-color: #604829;
    position: fixed;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-logo{
    margin: 0;
    width: 100px;
}
.container-logo img{
    height: 100px;
}
.container-links{
    display: flex;
    gap: 25px;
}
.container-links a{
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
    font-size: 18px;
    letter-spacing: 1px;
    color: #c4a47c;
    text-shadow: 4px 4px 5px #0b0805;
}
.container-links a:hover{
    color: #e9c291;
}

.secao-banner{
    width: 100%;
    height: 100vh;
    background-image: url(../img/parallax-imagem1.png);
    background-size: cover;
    background-attachment: fixed;
}

.container-titulo{
    font-size: 32px;
    max-width: 1000px;
    max-height: 300px;
    height: 100px;
    text-align: center;
    top: 50%;
    left: 22%;
    color: #fff;
    position: relative;
    font-family: "Bodoni Moda SC", serif;
}
.secao-informacoe{
    background-color: #fff;
    width: 100%;
}
.container-texto{
    margin: 15px auto 15px;
    padding: 40px 80px 40px;
    width: 800px;
    max-height: 800px;
    text-align: center;
}
.container-texto p{
    font-family: 'Lato', sans-serif;
    line-height: 2;
    color: #666;
}
.container-texto h2{
    margin-bottom: 20px;
    font-family: 'Oswald',sans-serif;
    color: #c4a47c;
}
.container-paralax-1{
    background-image: url(../img/parallax-imagem2.jpg);
    background-attachment: fixed;
    width: 100%;
    height: 50vh;
    position: relative;
}
.container-paralax-2{
    background-image: url(../img/parallax-imagem3.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 50vh;
    position: relative;

}
.container-paralax-3{
    background-image: url(../img/parallax-imagem4.png);
    background-attachment: fixed;
    width: 100%;
    height: 50vh;
    position: relative;

}

h3{
    font-family: 'Lato', sans-serif;
    font-size: 8px;
    text-align: center;
    color:#fff;
    font-size: 30px;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
   
}
.sub-container-titulo{
    position: absolute;
    top: 45%;
    left: 34%;
    padding: 10px;
    background-color: #604829;
    width: 550px;
    border-radius: 45px;
    
}
.secao-contatos{
    height: 100vh;
    width: 100%;
    text-align: center;
    background-image: url(../img/parallax-imagem4.png);
    background-attachment: fixed;
    background-size: cover;
    position: relative;
}

.secao-contatos .sub-container-titulo{
    position: absolute;
    top: 10%;
    padding: 10px;
    background-color: #604829;
    color: #fff;
    width: 550px;
    border-radius: 10px;
    font-family: "Poppins", sans-serif;

}
.container-iframe{
    top: 23%;
    text-align: center;
    padding: 0;
    left: 20%;
    width: 1024px;
    height: 450px;
    position: relative;
}
.container-iframe iframe{
    width: 100%;
    height: 100;
}

.secao-contatos .container-description{
    width: 500px;
    margin: 13% auto 10%;
    background-color: #604829;
    color: #fff;
    font-family: "Poppins", sans-serif;
    padding: 10px;    
}

.secao-horarios{
    height: 85vh;
    width: 100%;
    padding: 8%;
    background-image: url(../img/cafeteria.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
}
.secao-horarios h2{
    font-family: 'Oswald', sans-serif;
    color: #fff;
    font-size: 18px;
    margin-bottom: 8%;
}
.lista{
    width: 768px;
    margin: auto auto 20%;
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    color: #fff;
    list-style: none;
}
.lista h3{
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    color: #fff;
    text-align: left;
}
.lista li{
    position: relative;
    margin: 20px auto 20px;
}
.lista li p{
   position: absolute;
   top: 0;
   right: 0;
}
.lista li div {
    max-width: 300px;
    height: 1px;
    background-color: #acacac;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 50%;
}
.lista span{
    color:#c4a47c
}
.rodape{
    width: 100%;
    background-color: #000000;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    text-align: center;
    color: #fff;
    padding: 20px 0;
    position: absolute;
}
.rodape a{
    color: #c4a47c;
    text-decoration: none;
}
.rodape .botao{
    position: fixed;
    top: 90%;
    left: 90%;
}
